#feet{
	height: 60px;
	padding: 23px 125px;
	background-image: url(../img/background_f.png);
	color: #78bbd3;
	letter-spacing: -0.8px;
	p{display: inline-block;}
	#copyright{float: left;}
	#design{float: right;}
}