#wrapper{
	height: 248px;
	padding: 30px 80px 30px 80px;
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	color: white;
	.general{
		display: inline-block;
		float: left;
		width: 340px;
		height: 195px;
		box-sizing: border-box;
		padding: 0 44px;
		h2{
			font:{
				size: 21px;
				family: "Open Sans bold";
			}
			letter-spacing: -0.6px;
			text-shadow: 2px 2px #1b4e75;
			margin-top: -1px;
		}
	}
	#contacts{
		width: 360px;
		position: relative;
		.address:before{
			content: '';
			width: 30px;
			height: 30px;
			position: absolute;
			left: -37px;
			top: 2px;
			background: url(../img/home.png) no-repeat;
		}
		.address{
			position: absolute;
			letter-spacing: -0.16px;
			top: 44px;
			left: 79px;
			line-height: 17px;
			text-shadow: 1px 1px 1px #1b4e75;
			p#name{
				font:{
					family: "Open Sans bold";
					size: 13px;
				}
				color: #85d0f5;
				text-transform: uppercase;
			}
			p#addr{
				color: #ecf7fd;
				letter-spacing: 0.5px;
				line-height: 16px;
			}
		}
		.contact_info:before{
			content: '';
			width: 30px;
			height: 30px;
			position: absolute;
			left: -34px;
			top: 1px;
			background: url(../img/book.png) no-repeat;
		}
		.contact_info{
			position: absolute;
			top: 146px;
			left: 78px;
			letter-spacing: 0.5px;
			color: #003451;
			text-shadow: 0.7px 0.7px 1px #78BBD3;
			span{font-family: "Open Sans bold";}
		}
	}
	#carrier{
		padding: 4px 31px 16px 42px;
		p{
			padding: 13px 1px;
			line-height: 18px;
		}
		ul{
			width: 234px;
			height: 69px;
			float: left;			
			li{
				position: relative;
				width: 234px;
				height: 34px;
				float: left;
				margin-bottom: 2px;
				padding: 5px 0;
				border-radius: 5px;
				letter-spacing: 0.18px;
				color: #08435e;
				font-size: 16px;
				text-indent: 30px;
				text-shadow: 0.7px 0.7px 1px #85d0f5;
				background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(113, 206, 239, 0.29) 100%);
				background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(113, 206, 239, 0.29) 100%);
				background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(113, 206, 239, 0.29) 100%);
				box-sizing: border-box;
				a:before{
					content: '';
					position: absolute;
					top: 7px;
					left: 3px;
					height: 23px;
					width: 20px;
					background: url(../img/arrow.png) no-repeat left;
				}
				a{
					letter-spacing: 0.18px;
					color: #08435e;
					font-size: 16px;
					text-indent: 30px;
					text-shadow: 0.7px 0.7px 1px #85d0f5;
				}
			}
			#curr{width: 133px;}
		}
	}
	#feedback{
		width: 350px;
		float: right;
		padding: 3px 40px;
		form{
			width: 270px;
			height: 170px;
			padding: 15px 1px 16px 1px;
			input[type='text']{
				background-color: #195e90;
				border: inset 2px rgba(19, 69, 103, 0.21);
				box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.13);
				border-radius: 3px;
				margin-bottom: 7px;
				margin-right: 2px;
				height: 30px;
				color: #4194d0;
				text-indent: 11px;
				font:{
					family: "Myriad Pro";
					size: 11px;
				}
			}
			#name{
				width: 115px;
			}
			#mail{
				width: 145px;
			}
			textarea{
				@extend input[type='text'];
				width: 265px;
				height: 64px;
			}
			input[type="submit"]{
				float: right;
				width: 144px;
				height: 31px;
				margin: -3px 2px;
				border-radius: 5px;
				font:{
					family: "Open Sans bold";
					size: 14px;
				}
				text-align: left;
				text-indent: 19px;
				color: #494949;
				text-shadow: 1px 1px 1px #e4e4e4;
				box-shadow: 1px 1px 1px rgba(73, 73, 73, 0.42);
				border: outset 2px rgba(219, 219, 219, 0.46);
				background: -webkit-radial-gradient(center, ellipse, #d1d1d1 0%,
									#dbdbdb 80%, #dbdbdb 86%, #dbdbdb 100%);
				background: radial-gradient(ellipse at center, rgba(209,209,209,1) 0%,
									rgba(219,219,219,1) 80%, rgba(219,219,219,1) 86%,
									rgba(219,219,219,1) 100%);
			}
			input[type="submit"]:after{
				content: '';
				position: absolute;
				height: 15px;
				width: 15px;
				top: 0;
				left: 0;
				background-image: url(../img/arrow2.png);
			}
		}
	}
}